* {
  margin: 0;
  padding: 0;
  font-family: Heebo, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 40px;
  @media (max-width: 500px) {
    padding-inline: 20px;
  }
}
h1,
a,
p {
  color: black;
}
h1 {
  font-weight: 700;
  font-size: clamp(2rem, 1.75rem + 1.25vw, 2.75rem);
}
p {
  font-size: clamp(0.75rem, 0.667rem + 0.42vw, 1rem);
}
a {
  font-size: clamp(0.75rem, 0.667rem + 0.42vw, 1rem);
  font-weight: 600;
}
#header {
  padding-block: 40px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.burger-menu {
  width: 100%;
  font-size: 25px;
  display: none;
  justify-content: flex-end;
}
#main {
  padding-block: 50px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.main-content {
  width: 100%;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.main img {
  width: 100%;
  max-width: 350px;
}
button {
  border-radius: 4px;
  padding: 6px 15px;
  color: white;
  background-color: #ff6464;
  border: none;
  cursor: pointer;
}
#works {
  background-color: #edf7fa;
  padding-block: 20px;
}
.cart-top {
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
}
.cart-top a {
  color: #00a8cc;
}
.works {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  gap: 15px;
}
.cart-year {
  display: flex;
  gap: 15px;
}
.cart {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
}
#blog {
  padding-block: 30px;
}
.text-block {
  padding-bottom: 20px;
}

.blog-content {
  display: flex;
  gap: 15px;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.box-line {
  display: flex;
  align-items: center;
  gap: 20px;
}
.box-line a {
  font-weight: 400;
  color: #8695a4;
}
.box button {
  width: 100%;
  max-width: 60px;
  border-radius: 90%;
  border: none;
  background-color: #142850;
}
.box p {
  width: 100%;
  max-width: 570px;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 50px;
}
.footer-img {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
}
